include include/template-popup-health

+template-popup-health
    // RECIPE: CONTENT 
    section.blog-content.bg-skin.popup-health
        .img-drop.img-food: img(src="upload/img-health-1.jpg", alt="")
        .container.spacing-section.spacing-end
            .row
                // Main Content Blog
                .col-lg-8.offset-lg-2
                    h5.sub-cate.text-green EDUCATIONS
                    h1.title-product.mb-15 Celery Juice
                    .mb-30.not-reset-p
                        p #[strong Ingredients:] 
                        p ½ bunch of organic celery, leaves and all
                        p #[strong Method:] 
                        ul
                            li Wash celery, trim of any yellowing leaves, and any leaves that have black spot.
                            li Using a cold press juicer, juice the celery, tops and all.
                            li Drink immediately
                .col-lg-8.offset-lg-2
                    h5.sub-cate.text-green EDUCATIONS
                    h1.title-product.mb-15 Celery Juice
                    .mb-30.not-reset-p
                        p #[strong Ingredients:] 
                        p ½ bunch of organic celery, leaves and all
                        p #[strong Method:] 
                        ul
                            li Wash celery, trim of any yellowing leaves, and any leaves that have black spot.
                            li Using a cold press juicer, juice the celery, tops and all.
                            li Drink immediately
                .col-lg-8.offset-lg-2
                    h5.sub-cate.text-green EDUCATIONS
                    h1.title-product.mb-15 Celery Juice
                    .mb-30.not-reset-p
                        p #[strong Ingredients:] 
                        p ½ bunch of organic celery, leaves and all
                        p #[strong Method:] 
                        ul
                            li Wash celery, trim of any yellowing leaves, and any leaves that have black spot.
                            li Using a cold press juicer, juice the celery, tops and all.
                            li Drink immediately