include include/template-cart

+template-cart("Checkout Success","checkout")

    .payment-success.spacing-header.spacing-around
        h1.title-product.text-center.mb-30 Payment success !#[br]Thank you for shopping with us.
        p.text-center.mb-45 An order confirmation email will be sent to you shortly.
        .text-center
            a(href="prducts.html").btn-black CONTINUE SHOPPING
