mixin footer

    // FOOTER PAGE
    footer.footer
        .footer-content 
            .footer-content-list
                .footer-content-list-info
                    .logo-footer
                        a(href="#").bg-image
                            img(src="../../../src/img/ecolearn-logo-footer.png", alt="")
                    .infor-footer
                        .mobile-info-footer
                            .icon-mobile
                                i.fa.fa-mobile
                            .number-mobile +84 3555 01613
                        .email-info-footer
                            .icon-email
                                i.fa.fa-envelope-o
                            .name-email hiukhoa@gmail.com
                        .address-info-footer
                            .icon-address
                                i.fa.fa-map-marker
                            .name-address Lý Chính Thắng, Quận 3
                .footer-content-list-menu
                    .link Liên kết 
                    a(href="#") 
                        p.link-item Giới thiệu
                    a(href="#")
                        p.link-item Blog
                    a(href="#")
                        p.link-item Shop 
                    a(href="#")
                        p.link-item Liên hệ
                .footer-content-list-policy
                    .support Hỗ trợ
                    a(href="#")
                        p.policy-item Chính sách giao hàng
                    a(href="#")
                        p.policy-item Chính sách bảo mật
                    a(href="#")
                        p.policy-item Chính sách đổi trả
                    a(href="#")
                        p.policy-item Chính sách bảo hành
                .footer-content-list-follow
                    .follow-title Theo dõi chúng tôi
                    .list-icon-social
                        .icon-intagram
                            a(href="#")
                                img(src="../../../src/img/icon-intargram.svg", alt="")
                        .icon-tiktok
                            a(href="#")
                                img(src="../../../src/img/icon-tiktok.svg", alt="")
                        .icon-facebook
                            a(href="#")
                                img(src="../../../src/img/icon-facebook.svg", alt="")
                        .icon-youtube
                            a(href="#")
                                img(src="../../../src/img/icon-youtube.svg", alt="")
            .footer-content-bottom  
                .copyright Copyright 2022 ECOCLEAN VIETNAM. 
                .site-by Site by Uway Technology
