mixin sideleft

    //SIDEBAR LEFT
    section.sidebar-left
        ul.list-social
            li.ins: a(href="#" target="_blank") Instagram 
            li.fb: a(href="#" target="_blank") Facebook
        ul.list-mobile-contact.d-lg-none.d-block
            li: a(href="tel:1300121248") 1300 121 248
            li: a(href="mailto:hello@flourishln.com.au") hello@flourishln.com.au 

