mixin sidebottom

    // FOOTER PAGE
    section.side-bottom
        .container-fluid
            ul.item-footer
                li.d-lg-block.d-none © 2018 Flourish Nutritional Medicine Pty Ltd 
                li Free shipping for orders over $100
                li 
                    a(href="tel:1300121248")
                        span 1300 121 248
                        i.icon.tel
                    a(href="mailto:hello@flourishln.com.au")
                        span hello@flourishln.com.au
                        i.icon.mail 

