/* VAR */
$green: #62BD89;
$green-light: #EAF3BD;
$gray-light: #FAFAFA;
$gray-medium: #F4F2ED;
$gray-1: #DEDEDE;
$border: #E8E6DE;
$orange: #FF9F1C;
$blue-light: #C4D8E5;
$white: #fff;
$black: #000;
$rem: 1 / 2000 * 100vw;
/* FONT */
$font-Cir: "Circular Std";
$font-Av: "Avenir Next";
$shadow: 0px 2px 40px rgba(#000, 0.383492);
/* BACKGROUND IMAGE */
$icon_check: url('../img/icon-check.svg');
$icon_check_g: url('../img/icon-check-green-small.svg');
$icon_face: url('../img/smile-icon.svg');
$icon_phone: url('../img/phone-icon.svg');
$icon_skype: url('../img/skype-icon.svg');
$icon_face_w: url('../img/smile-icon-white.svg');
$icon_phone_w: url('../img/phone-icon-white.svg');
$icon_skype_w: url('../img/skype-icon-white.svg');
$edit_icon: url('../img/edit-icon.svg');
$close_modal: url('../img/close-modal.svg');